.custom-popup {
  .l {
    padding-right: 0;
  }
  .section-container {
    padding: 30px 0 0;
  }
  .custom-popup__header-wrapper {
    max-width: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-right: 20px;
  }
.custom-popup__subtitle {
    text-align: center;
    margin-bottom: 16px;
}
  .custom-popup__title {
    font-family: Jost;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    display: block;
  }

  .collection-tab-button__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .collection-tab-button__image {
    max-width: 75px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 12px;
  }
  .collection-tab-button__image img{
      border-radius: 12px;
  }
  .collection-tab-buttons {
    display: flex !important;
    width: 100%;
    justify-content: center;
  }

  .collection-tab-button {
    padding-inline: 0;
    color: #000;
    font-size: 15px;
    line-height: 140%;
    padding-block: 0 !important;
    font-family: Jost;
    text-align: center;
    max-width: 75px;
  }

  .collection-tab-button.is-active {
    color: #A200F9;
    font-weight: 500;
  }
  .collection-tab-button.is-active img{
    border: 1px solid #A200F9 !important;
  }

  .custom-popup__subtitle p {
    text-align: center;
    font-size: 15px;
    font-family: Jost;
  }

  .swiper-initialized .product-grid {
    gap: 0;
    display: flex !important;
  }

  .swiper-slide {
    height: auto;
    max-width: 285px !important;
  }

  .card__badges-item.card__badges-item--sale {
    background: #c922ad !important;
    color: #fff !important;
    font-size: 12px !important;
  }

  .card-product__content.flex--column.body-font {
    margin-bottom: 16px;
    height: 100%;
  }

  .card__price {
    margin-top: 30px;
  }

  .custom-label {
    max-width: fit-content;
    margin: 10px auto 0;
    border: 1px solid #e0b0fa;
    border-radius: 200px;
    padding: 4px 8px;
    background: #f4eaff;
    font-family: Jost;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #6c00a7;
  }

  .card__short-description {
    margin-bottom: auto;
  }

  .custom_tab_ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #f7f7f9;
    border-radius: 50px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 4px 10px;
}
.collection-tab.is-active {
    padding-right: 20px;
}
.ruk_rating_snippet i {
    font-size: 10px;
}
}

@media (min-width: 768px) {
  .custom-popup {
    .section-container {
      padding: 30px 0 0;
    }
    .custom_tab_ratings {
      padding: 6px 10px;
  }
    .custom-popup__header-wrapper {
      max-width: 745px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
    }
    .collection-tab-button__image {
        max-width: 80px;
        margin: 0 auto;
    }
    .custom-popup__title {
      font-size: 30px;
      line-height: 130%;
      text-align: center;
      display: block;
    }

    .collection-tab-button__wrapper {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 24px;
    }

    .collection-tab-buttons {
      display: flex !important;
      width: 100%;
      justify-content: center;
    }

    .collection-tab-button {
      border-radius: 8px !important;
      font-size: 16px;
      line-height: 140%;
      padding-block: 0 !important;
    }

    .swiper-initialized .product-grid {
      gap: 0;
      display: flex !important;
    }

    .swiper-slide {
      height: auto;
      max-width: 285px !important;
    }

    .card__badges-item.card__badges-item--sale {
      background: #c922ad !important;
      color: #fff !important;
      font-size: 12px !important;
    }

    .card-product__content.flex--column.body-font {
      margin-bottom: 16px;
      height: 100%;
    }

    .card__price {
      margin-top: 30px;
    }
  }
}
