.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(var(--layout-bg-color));
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__poster-control-icon {
    width: 44px;
    height: 44px;
}