.mega-menu-four__container-one {
    display: flex;
    gap: 10px;
}

.mega-menu-four__product-card {
    position: relative;
    border-radius: 15px;
}

.mega-menu-four__product-label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 100px;
    font-family: Jost;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    padding: 4px 12px;
}
.mega-menu-four__content {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

h2.mega-menu-four__product-title {
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: white;
}

p.mega-menu-four__product-subtitle {
    font-family: Jost;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -1%;
    color: white;
}

.mega-menu-four__product-card a {
    border-radius: 15px;
}