.mega-menu-third__container-three {
    max-width: 570px;
    width: 100%;
}
.mega-menu-third__column_title {
    font-family: Jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #a200f9;
    text-align: left;
    margin-bottom: 20px;
}
.mega-menu-third__container-box {
    position: relative;
    width: 100%;
}
.mega-menu-third__content-box {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.mega-menu-third__content-box a {
    margin-top: 20px;
    display: inline-block;
    background: #a200f9;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
p.mega-menu-third__container-subtitle {
    font-size: 14px;
    font-weight: 300;
}
h2.mega-menu-third__container-title {
    font-size: 16px;
    font-weight: 600;
    font-family: Jost;
    color: #000;
}
.mega-menu-third__container-four {
    max-width: 270px;
}

.mega-menu-third__container-two {
    max-width: 204px;
    width: 100%;
}

.mega-menu-third__container-one {
    max-width: 204px;
    width: 100%;
}

li.mega-menu-third__custom-menu-item {
    min-height: 40px;
}

li.mega-menu-third__custom-menu-item a {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: black;
}

figure.mega-menu-third__image-cont img {
    border-radius: 15px;
}

figure.mega-menu-third__image {
    max-height: 230px;
    height: 100%;
}

figure.mega-menu-third__image img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.meganav__gallery__img_mob, .meganav__img-showcase_mob {
        display: none;
}
.meganav__img, .meganav__img-showcase {
    display: block;
}
@media (max-width: 1024px) {
    .mega-menu-one__products {
        flex-wrap: wrap;
    }
    .mega-menu-one__product-card a {
        flex-direction: column;
    }
    .meganav__img, .meganav__img-showcase {
        display: none;
    }
    .meganav__gallery__img_mob, .meganav__img-showcase_mob {
        display: block;
    }
    .mega-menu-third__container-four {
        max-width: 100%;
    }
}