.mega-menu-four__container-one {
    display: flex;
    gap: 10px;
}

.mega-menu-four__product-card {
    position: relative;
    border-radius: 15px;
}

.mega-menu-four__product-label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 100px;
    font-family: Jost;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    padding: 4px 12px;
}