.l.menu-wrapper {
    display: flex;
    padding: 20px 24px;
    gap: 40px;
    justify-content: space-between;
    max-width: 1420px;
    margin: 0 auto;
}

.mega-menu-one__products {
    display: flex;
    gap: 10px;
    max-width: 500px;
}

.mega-menu-one__container-two {
    max-width: 210px;
    width: 100%;
}
.mega-menu-one__container-three {
    max-width: 570px;
    width: 100%;
}
.mega-menu-one__product-card {
    max-width: 160px;
    width: 100%;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    background: #F4F2F5;
}
.mega-menu-one__column_title {
    font-family: Jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #A200F9;
    text-align: left;
    margin-bottom: 20px;
}
.mega-menu-one__product-title {
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 3px;
    margin-top: 10px;
}

.mega-menu-one__product-label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 100px;
    font-family: Jost;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: white;
    padding: 4px 12px;
}

.mega-menu-one__product-subtitle {
    font-family: Jost;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
}

.mega-menu-one__custom-menu-item {
    background: #A200F91A;
    border-radius: 10px;
    border: 1px solid transparent;
}

.mega-menu-one__custom-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mega-menu-one__custom-menu-item a {
    color: #000;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: inline-block;
    width: 100%;
    padding: 7px 20px;
}

.mega-menu-one__container-one {
    max-width: 500px;
    width: 100%;
}

.mega-menu-one__custom-menu-item a:hover {
    font-family: Jost;
    font-weight: 500;
    font-size: 16px;
    color: #A200F9;
}

.mega-menu-one__custom-menu-item:hover {
    border-color: #A200F9;
}

.mega-menu-one__container-box {
    position: relative;
    width: 100%;
}

.mega-menu-one__image img {
    width: auto;
    height: auto;
}
.meganav__gallery__img {
    display: block;
}
.mega-menu-one__content-box {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

h2.mega-menu-one__container-title {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Jost';
    color: #000;
}

p.mega-menu-one__container-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.mega-menu-one__content-box a {
    margin-top: 20px;
    display: inline-block;
    background: #A200F9;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.meganav__gallery__img_mob {
        display: none;
}
@media (max-width: 1024px) {
    .mega-menu-one__products {
        flex-wrap: wrap;
    }
    .l.menu-wrapper {
        flex-direction: column;
        padding: 0;
    }
    .mega-menu-one__product-card a {
        flex-direction: column;
    }
    .meganav__gallery__img {
        display: none;
    }
    .meganav__gallery__img_mob {
        display: block;
    }
}