.custom-popup {
    padding: 64px 0;
    font-family: 'Jost';
}

.l {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.custom-popup__header-wrapper {
    max-width: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.custom-popup__subtitle {
    flex-basis: 100%;
}

.custom-popup__ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #F7F7F9;
    border-radius: 50px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 4px 10px;
}

.custom-review__ratings-text_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
}

.review-text-two {
    margin-left: 8px;
    color: black;
    font-size: 13px;
}

.review-text-one {
    margin-right: 8px;
    color: black;
    font-size: 13px;
}

.custom-popup__title {
    font-family: Jost;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}
.custom-popup__title span:last-of-type {
    flex-basis: 100%;
}
.purple {
    color: #a200f9;
    font-weight: 700;
}

.custom-popup__subtitle p {
    text-align: center;
    font-size: 16px;
}

.custom-popup_quiz {
    border: 1px solid #636161;
    background: #F4F2F5;
    width: 100%;
    padding-top: 24px;
    padding-right: 18px;
    padding-bottom: 24px;
    padding-left: 18px;
    border-radius: 20px;
    border-width: 1px;
    text-align: center;
    box-shadow: 0px 2px 0px 0px #8C8C8C;
}

.custom-popup_quiz-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.custom-popup_quiz a {
    display: inline-block;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    border-radius: 10px;
    border-width: 1px;
    background: #A200F9;
    border: 1px solid #A548D8;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0px 3px 0px 0px #8216BC;
}

.custom-popup_quiz a:hover {
    background-color: #b32cfc;
    color: #ffffff;
}

/* Product card */

custom-popup li.grid-item {
    padding: 16px;
}

.custom-popup li.grid-item {
    padding: 16px;
    background: #F4F2F5;
    border-radius: 15px;
}

.custom-popup .product-grid {
    gap: 20px;
}


.custom-popup {

.card-product.color-background-1 {
    background: transparent;
}

.card-product__content.flex--column.body-font {
    padding: 0;
    gap: 10px;
}

.atc-add.card__extras.flex--row {
    position: static;
    width: 100%;
    margin-top: auto;
}

quick-view-button {
    margin: 0 !important;
}

.card__vendor {
    display: none;
}

.card__info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card__short-description {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #413C38;
}

.card-product__title.card__title-js.body-font {
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    margin: 5px 0px;
}

.ruk-icon-percentage-star--100:before {
    color: #FDC700;
}

.ruk-icon-percentage-star--75:before {
    color: #FDC700;
}

.ruk-icon-percentage-star--50:before {
    color: #FDC700;
}

.card__price.color-sale-price--sale.card__price--bottom.subheading-font.subheading-heading-font {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale-price {
    color: #1A1A1A;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.regular-price {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration: line-through;
    color: #0000004D;
}

.custom-label {
    max-width: fit-content;
    margin: 0 auto;
    border: 1px solid #E0B0FA;
    border-radius: 200px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    background: #F4EAFF;
    font-family: Jost;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #6C00A7;
    margin-bottom: 16px;
}

.card-product__media-wrapper img {border-radius: 12px;}

.quick-view-button.button.card__add-to-cart {
    border: 1.5px solid #A548D8;
    gap: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background: #FFFFFF;
    align-items: center;
    display: flex;
    gap: 20px;
}

.cart__icon.flex--row {
    color: #a200f9;
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    gap: 10px;
}

.quick-view-button.button.card__add-to-cart:hover {
    background: #f4f2f5 !important;
}

}

@media (min-width: 768px) {
    .review-text-two {
        margin-left: 12px;
        font-size: 16px;
    }

    .review-text-one {
        margin-right: 12px;
        font-size: 16px;
    }

    .custom-popup__title {
        font-size: 38px;
        line-height: 130%;
        gap: 10px;
    }
    .custom-popup__subtitle p {
        text-align: center;
        font-size: 18px;
    }
    .custom-popup__title span:last-of-type {
        flex-basis: auto;
    }
    .custom-popup_quiz-title {
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 16px;
        max-width: 100%;
    }
    .custom-popup_quiz {
        padding-top: 40px;
        padding-right: 32px;
        padding-bottom: 40px;
        padding-left: 32px;
    }
    .custom-popup_quiz a {
        max-width: 410px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 18px;
        width: 100%;
    }
    .custom-popup__ratings {
        padding: 6px 10px;
    }
}