.custom-popup {
    padding: 64px 0;
    font-family: 'Jost';
}

.l {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.custom-popup__header-wrapper {
    max-width: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.custom-popup__subtitle {
    flex-basis: 100%;
}

.custom-popup__ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #F7F7F9;
    border-radius: 50px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 6px 10px;
}

.custom-review__ratings-text_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
}

.review-text-two {
    margin-left: 8px;
    color: black;
    font-size: 13px;
}

.review-text-one {
    margin-right: 8px;
    color: black;
    font-size: 13px;
}

.custom-popup__title {
    font-family: Jost;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}
.custom-popup__title span:last-of-type {
    flex-basis: 100%;
}
.purple {
    color: #a200f9;
    font-weight: 700;
}

.custom-popup__subtitle p {
    text-align: center;
    font-size: 16px;
}

@media (min-width: 768px) {
    .review-text-two {
        margin-left: 12px;
        font-size: 16px;
    }

    .review-text-one {
        margin-right: 12px;
        font-size: 16px;
    }

    .custom-popup__title {
        font-size: 38px;
        line-height: 130%;
        gap: 10px;
    }
    .custom-popup__subtitle p {
        text-align: center;
        font-size: 18px;
    }
}